---
import Section from "./Section.astro";
import BlogCard from "./BlogCard.astro";
import { getCollection } from "astro:content";
import { parseDate } from "../utils/date";

const allPosts = await getCollection("blog");
const posts = allPosts
  .filter((post) => post.data.published)
  .sort((a, b) => parseDate(b.data.date).getTime() - parseDate(a.data.date).getTime())
  .slice(0, 3);
---

<Section title="Latest Writing" viewAllLink="/blog" viewAllText="All posts">
  <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
    {posts.map((post) => (
      <BlogCard
        title={post.data.title}
        description={post.data.description}
        date={post.data.date}
        tags={post.data.tags}
        slug={post.slug}
        body={post.body}
      />
    ))}
  </div>
</Section>
