---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";

const { title: pageTitle, description = SITE_DESCRIPTION, image = "/landscape.jpg", noIndex = false, canonical } = Astro.props;

let title = pageTitle;
if (!title) {
  title = SITE_TITLE;
} else {
  title += " | " + SITE_TITLE;
}

const canonicalURL = canonical || new URL(Astro.url.pathname, Astro.site).href;
const imageURL = new URL(image, Astro.site).href;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/image.png" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content="Raj Patel" />
    <meta name="robots" content={noIndex ? "noindex, nofollow" : "index, follow"} />
    <link rel="canonical" href={canonicalURL} />
    
    <!-- RSS Feed -->
    <link rel="alternate" type="application/rss+xml" title={`${SITE_TITLE} RSS Feed`} href={new URL("rss.xml", Astro.site)} />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imageURL} />
    <meta property="og:site_name" content={SITE_TITLE} />
    <meta property="og:locale" content="en_US" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@imrraaj" />
    <meta name="twitter:creator" content="@imrraaj" />
    <meta name="twitter:url" content={canonicalURL} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={imageURL} />
    
    <!-- Additional SEO Meta Tags -->
    <meta name="theme-color" content="#18181b" />
    <meta name="msapplication-TileColor" content="#18181b" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body class="px-4 max-w-[100ch] mx-auto bg-zinc-900 text-zinc-200 selection:bg-emerald-900">
    <Header />
    <main class="min-h-[500px]">
      <slot />
    </main>
    <Footer />
  </body>
</html>
